.MasterTable
{
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.ContactTitle
{
	font-size: x-large;
	text-align: center;
}

.ContactNew
{
}

.ContactHeaderLeft
{
	font-size: medium;
	font-weight: bold;
	background-color: #09C;
	border-top: black solid 1px;
	border-left: black solid 1px;
	border-bottom: black solid 1px;
	width: 50px;

}

.ContactHeaderRight
{
	font-size: medium;
	font-weight: bold;
	background-color: #09C;
	border-top: black solid 1px;
	border-right: black solid 1px;
	border-bottom: black solid 1px;
}

.ContactHeader
{
	font-size: medium;
	font-weight: bold;
	background-color: #09C;
	border: black solid 1px;
	width: 200px;
}

.ContactCell
{
	font-size: medium;
	border-right: black solid 1px;
	border-bottom: black solid 1px;
	width: 200px;
}

.ContactCellLeft
{
	font-size: medium;
	border-left: black solid 1px;
	border-right: black solid 1px;
	border-bottom: black solid 1px;
	width: 50px;
}

.ContactCellRight
{
	font-size: medium;
	border-right: black solid 1px;
	border-bottom: black solid 1px;
	width: 150px;
}

.ContactBody
{
	width: 350px;
	border: black solid 1px;
	margin-left: auto;
	margin-right: auto;
}

.label
{
	width: 75px;
	text-align: right;
	font-weight: bold;
	float: left;
}

.InputValue
{
	width: 250px;
	float: left;
}

.Buttons
{
	width: 400px;
}
